body {
    background-color: #212A37;
    color: #F0F8FF;
    font-family: 'Fira Mono';
    font-size: x-large;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-height: 75vh;
}

main {
    max-width: 600px;
}

.footer {
    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 40px;
    position: fixed;
    width: calc(100% - 80px);
}

.footer {
    bottom: 0;
}

@media only screen and (max-width: 786) {
    .footer {
        top: 0;
        bottom: unset;
        justify-content: right;
    }
}

/* Links */

a {
    color: #F0F8FF;
    text-decoration: none;
    padding: 0;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #11181C;
}


a.active {
    text-decoration: underline;
}

