body {
    background-color: #212A37;
    color: #F0F8FF;
    font-family: 'Fira Mono';
    font-size: large;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-height: 75vh;
    transition: font-size 0.5s;
}

main {
    max-width: 600px;
}

.footer {
    display: flex;
    gap: 20px;
    padding: 40px;
    position: fixed;
    width: calc(100% - 80px);
    justify-content: right;
    top: 0;
    right: 0;
}


/* For desktop */

@media screen and (min-width: 600px) {
    body {
        font-size: x-large;
    }

    .footer {
        justify-content: left;
        top: unset;
        right: unset;
        bottom: 0;
        left: 0;
    }
}

/* Links */

a {
    color: #F0F8FF;
    text-decoration: none;
    padding: 0;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #11181C;
}


a.active {
    text-decoration: underline;
}

