* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: font-size 0.5s;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color:#fffff4;
    opacity: 0.95;
    mix-blend-mode: soft-dark;
}

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 3rem;
    font-weight: lighter;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    display: flex;
    padding: 45px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    font-size: 1.3rem;
    z-index: 10;
}

a {
    color:#fffff4;
    text-decoration: underline;
    font-family: 'DotGothic16', sans-serif;
}

#bgVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 120vw;
    height: 120vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

#bgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px) hue-rotate(335deg);
}

/* Medium screens */
@media screen and (min-width: 600px) {
    .content {
        font-size: 4rem;
    }

    .header {
        font-size: 1.5rem;
    }
}

/* Large screens */
@media screen and (min-width: 992px) {
    .content {
        font-size: 5rem;
    }
}